{% extends "base.html" %} {% block title %} Welcome to Blog {% endblock %}
 {% block content %}

{% load static %}
<link rel="stylesheet" type = "text/css" href="{% static 'styles.css' %}">


  
    <div class="pt-5">
      <img src="../../static/banner.png" class='shadowy img-fluid rounded ' alt="sql-banner">
    </div>
    <div class="row py-5">
      {% for post in posts %}
      <div class="col-md-4 ">
        <a class="link-col" href="{{post.get_absolute_url}}">
          <div class="card mb-4 shadowy grid-cols">
            <img
              class="grid-img"
              src="{{post.image.url}}"
              alt="{{ post.title }}"
            />
            <div class="card-body ">
            <h5 class="card-title text-capitalize">{{post.title|truncatechars:40}}</h5>
            <p class="card-text">{{post.excerpt|truncatechars:40}}</p>
           
          </div>
          <p class="post-date ">{{post.publish}}</p>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  
{% endblock %}
