/* base  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #3a3a3a;

}

body{
  background-color:#BFB038;
}

.nav-logo{
  width: 125px;
  height: 60px;
  object-fit: cover;
  /* margin-right: 2rem; */
}

.nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  
}

.nav-link:hover {
  color: #BFB038;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-item:hover {
  color: #BFB038;
  background: #474343;
}
.dropdown-item {
  color: #fff;
  font-size: 1.2rem;
}
.dropdown-menu {
  background: #474343;
  border: none;
}
span.navbar-toggler-icon{
  color: #fff;

}
.footerr {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 5px;
  color: #fff;
  background-color: #aa3030;
}
.footerr p,a{
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  color: #BFB038;
  text-decoration: none;
}

/* index page */





.shadowy {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-cards {
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-content: center;
  grid-gap: 30px;
}

.grid-cols {
  
  min-height: 400px;
  
}
.grid-cols:hover {
  transform: scale(1.02);
}


.grid-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #afafaf;
}
.capt{
  text-transform: capitalize;
}


.post-date{
  font-size: 0.7rem;
  padding-left: 1rem;
  border-top: 1px solid #afafaf;
}
.link-col:hover {
  text-decoration: none;
}


/* single page */

.single-p{
  
  background-color: #fafafa;
  border-radius: 10px;
}
.post-content{
  padding: 20px 50px;
}

.post-content> h1{
  text-transform: capitalize;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.post-img{
  width: 100%; 
  height: 30rem; 
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.comment-section{
  padding: 50px;
 }
.comment-card {
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 6px;
  }
  .comment-text {
   
   border-bottom: 1px solid rgb(211, 211, 211);
   padding: 5px;
 }
 .comment-text>span{
   font-size: 0.7rem;
   
 } 
 .comment-text>h6{
   display: inline;
 }
 .comment-text>p{
   padding: 10px 0;
 }
 .comment-reply {
   color: blueviolet;
   border: none;
   background: none;
   cursor: pointer;
   font-size: 0.7rem;
 }
 .myForm{
   width: 70%;
   
 }
.submit-btn{
  padding: 10px 20px;
  background-color: #3a3a3a;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}